@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.open-fortune {
  &__result {
    @include display-flex(flex, row);
    width: 100%;
    gap: 0.5rem;
  }
  &__img {
    width: 5rem;
    @include tablet {
      width: 8rem;
    }
    @include desktop {
      width: 15rem;
    }
  }
  &__text {
    width: 100%;
    @include tablet {
      width: 65%;
    }
    @include desktop {
      width: 50%;
    }
  }
}

.fire::before,
.fire::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
}

.fire::before {
  content: "";
  background-image: url("../../assets/images/silver-glitter-background.png"),
    url("../../assets/images/silver-glitter-background.png"),
    linear-gradient(
      0deg,
      white 0px,
      #ff8951 5px,
      #dcbc169c 30%,
      transparent 70%
    ),
    radial-gradient(ellipse at bottom, transparent 30%, black 60%);
  background-size: 350px 500px, 400px 650px, 100% 100%, 100% 100%;
  background-blend-mode: hard-light, color-dodge, multiply;
  background-position: 0px 0px, 0px 0px;
  background-repeat: repeat, repeat, repeat, no-repeat;
  mix-blend-mode: color-dodge;
  filter: brightness(3.7) blur(7px) contrast(6);
  animation: fire 1.75s linear infinite, fadeOut 2s forwards;
  box-shadow: inset 0 -40px 50px -60px #63bbc5;
  z-index: -1;
}

@keyframes fire {
  0% {
    background-position: center 0px, center 0px, 50% 100%, center center;
  }
  100% {
    background-position: center -500px, center -650px, 50% 100%, center center;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
