// Dimensions
$tablet-width: 768px;
$desktop-width: 1280px;

// Colours
$color-primary-gray: #242424;
$color-primary-blue: #646cff;
$color-primary-white: #fff;
$color-secondary-gray: #1a1a1a;
$color-secondary-blue: #535bf2;
$color-secondary-white: #f9f9f9;
