@use "./styles/partials/variables" as *;
@use "./styles/partials/mixins" as *;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: $color-primary-white;
  background-color: $color-primary-gray;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

a {
  font-weight: 500;
  color: $color-primary-blue;
  text-decoration: inherit;
}
a:hover {
  color: $color-secondary-blue;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 1.5em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: $color-secondary-gray;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: $color-primary-blue;
}

.container {
  @include display-flex(flex, column);
  gap: 2rem;
  width: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: $color-primary-gray;
    background-color: $color-primary-white;
  }
  a:hover {
    color: $color-primary-blue;
  }
  button {
    background-color: $color-secondary-white;
  }
}
