@use "./styles/partials/variables" as *;
@use "./styles/partials/mixins" as *;

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

a {
  font-weight: 500;
  text-decoration: inherit;
  color: $color-primary-blue;
}

a:hover {
  color: $color-secondary-blue;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 1.5em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: $color-primary-blue;
}

.container {
  @include display-flex(flex, column);
  gap: 2rem;
  width: 100%;
}

.theme-light {
  color: $color-primary-gray;
  background-color: $color-primary-white;

  button {
    background-color: $color-secondary-white;
  }
}

.theme-dark {
  color: $color-primary-white;
  background-color: $color-primary-gray;

  button {
    background-color: $color-secondary-gray;
    color: $color-primary-white;
  }
}
